
.девушка {
    width: 100px;
    margin: 10px 15pt 17px 20px;
    padding: 15px 10px 20px 25pt;
border: 30px;
color: aqua;
}
@media (max-width:500px) {
    body {
        background-color: rgba(223, 255, 196, 0.801);
    }

.девушка{
    width: 100px;
    padding: 0;
    margin: 0;
}
}
@media ((min-width:500px) and (max-width:700px)){
   h1, h2, h3 {
    color: springgreen;
font-family:unset;
text-align: center;

   }
   .девушка {
    border: 5px solid peru;
    width: 120px;
    height: 140px;
    padding: 200px 100px 150px 140px;
    margin: 250pt 200px  170px 150px;
   }
   }  
   @media ((min-width:700px) and (max-width:1000px)){
    h1, h2, h3 {
     color: rgb(143, 95, 226);
 font-family:initial;
 text-align:end;
 
    }
    .девушка {
     border: 50px solid steelblue;
     height: 440px;
     width: 250px;
     padding: 200px 250px 300px 350px;
     margin: 250pt 300px  370px 400px;
    }
    }  
    @media ((min-width:0px) and (max-width:500px)){
        h1, h2, h3 {
         color: grey;
     font-family:inherit;
     text-align:justify;
     
        }
        .девушка {
         border: 2px solid steelblue;
         height: 40px;
         width: 50px;
         padding: 20px 25px 30px 35px;
         margin: 25pt 30px  37px 40px;
        }
        }  



    

